body{
	background-color: #fff;
}

h1{
	font-family: 'Montserrat Alternates', sans-serif;
 	font-weight: 500; 	
	font-size: 4rem;
	color: black;
	text-align: center;
	margin-top: 1%;
}


.container{
	background-color: rgb(52, 120, 155);
	height: 300px;
	width: 400px;
	margin: 3% auto 3% auto;
	border-radius: 5%;
	display: flex;
}

.formControl {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 20px;
   
}

.formLabel {
    display: flex;
    margin-bottom: 6px;
}

.row{
	margin: auto;
}

.inputData{

	margin-top: 6%;
	font-size: 1.3rem;
}
.btn{

	font-size: 1.3rem;
	text-align: center;
	margin: 12% auto;
	width: 150px;
	border: 3px solid white;
	border-radius: 2px;
}

.btnGrp {
	display: flex;
    justify-content: center;
	gap: 10px;
}

.btn1 {
 
    font-size: 1.3rem;
    text-align: center;
    margin: 12% auto;
    width: 150px;
    border: 3px solid white;
    border-radius: 2px;
    display: none;
}
 
.active {
    display: block;
}

.output{

	color: black;
	font-size: 1.5rem;
	text-align: center;
	font-family: 'Montserrat Alternates', sans-serif;
}

